# Schools Data

In [40]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel("C:/Users/dmretiv/Desktop/projects/dsacademy-python/schools-data/Schools Data.xlsx")

In [4]:
df

,Unnamed: 0,ID,region,school_type,total_students_2018,total_after_9_2018,total_after_11_2018,diff_teens_2018,deficit_places_2018,3_times_school_2018,...,total_students_9,total_students_10,total_students_11,nationality_diversity_index,load_ratio,drinking_water_presence,qedu_top_uni,qedu_passed_ent,qedu_continued_education,qedu_elite_achievements
0,0,1,Акмолинская область,"общеобразовательная школа, опорная школа (ресу...",833,70,42.0,8.0,0.0,0,...,0.081464,0.018890,0.049587,0.904265,1.366129,да,0.047619,1.000000,1.000000,0.056856
1,1,2,Акмолинская область,общеобразовательная школа,528,52,18.0,0.0,0.0,0,...,0.098901,0.047619,0.031136,0.889412,1.011111,да,0.222222,1.000000,1.000000,0.014740
2,2,3,Акмолинская область,"общеобразовательная школа, интернат при общеоб...",714,56,37.0,2.0,0.0,0,...,0.073834,0.034974,0.051813,0.350848,0.919048,да,0.108108,0.909091,1.000000,0.050197
3,3,4,Акмолинская область,общеобразовательная школа,354,33,18.0,0.0,21.0,0,...,0.085427,0.022613,0.045226,0.861186,1.658333,да,0.000000,0.888889,0.969697,0.000000
4,4,5,Акмолинская область,"общеобразовательная школа, малокомплектная шко...",139,20,15.0,0.0,0.0,0,...,0.134615,0.044872,0.096154,0.902487,0.331915,да,0.066667,0.857143,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6059,6059,96713,Туркестанская область,общеобразовательная школа,388,37,8.0,2.0,0.0,0,...,0.086364,0.015909,0.027273,0.586735,0.000000,да,0.000000,0.600000,1.000000,0.000000
6060,6060,97100,Туркестанская область,начальная школа,99,0,0.0,1.0,0.0,0,...,0.000000,0.000000,0.000000,0.612318,1.060000,да,0.000000,NaN,1.000000,0.000000
6061,6061,97197,Туркестанская область,"общеобразовательная школа, школа-гимназия",378,0,16.0,0.0,96.0,0,...,0.103343,0.066869,0.051672,0.000000,1.495455,да,0.000000,0.333333,1.000000,0.033166
6062,6062,97231,Туркестанская область,общеобразовательная школа,227,10,9.0,1.0,0.0,0,...,0.034483,0.073276,0.034483,0.000000,1.160000,да,0.000000,0.400000,1.000000,0.000000
6063,6063,97553,Туркестанская область,общеобразовательная школа,359,29,8.0,1.0,0.0,0,...,0.060606,0.045455,0.020202,0.025093,0.660000,да,0.000000,0.857143,0.931034,0.000000

In [5]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,ID,region,school_type,total_students_2018,total_after_9_2018,total_after_11_2018,diff_teens_2018,deficit_places_2018,3_times_school_2018,barrier_free_2018,...,total_students_9,total_students_10,total_students_11,nationality_diversity_index,load_ratio,drinking_water_presence,qedu_top_uni,qedu_passed_ent,qedu_continued_education,qedu_elite_achievements
0,1,Акмолинская область,"общеобразовательная школа, опорная школа (ресу...",833,70,42.0,8.0,0.0,0,1,...,0.081464,0.018890,0.049587,0.904265,1.366129,да,0.047619,1.000000,1.000000,0.056856
1,2,Акмолинская область,общеобразовательная школа,528,52,18.0,0.0,0.0,0,1,...,0.098901,0.047619,0.031136,0.889412,1.011111,да,0.222222,1.000000,1.000000,0.014740
2,3,Акмолинская область,"общеобразовательная школа, интернат при общеоб...",714,56,37.0,2.0,0.0,0,1,...,0.073834,0.034974,0.051813,0.350848,0.919048,да,0.108108,0.909091,1.000000,0.050197
3,4,Акмолинская область,общеобразовательная школа,354,33,18.0,0.0,21.0,0,1,...,0.085427,0.022613,0.045226,0.861186,1.658333,да,0.000000,0.888889,0.969697,0.000000
4,5,Акмолинская область,"общеобразовательная школа, малокомплектная шко...",139,20,15.0,0.0,0.0,0,1,...,0.134615,0.044872,0.096154,0.902487,0.331915,да,0.066667,0.857143,1.000000,0.000000

### 1)	Напишите программу, которая автоматически разделит ваш файл на 16 файлов по регионам

In [42]:
grouped_df = df.groupby('region')

for data in grouped_df:
    grouped_df.get_group(data[0]).to_excel("C:/Users/dmretiv/Desktop/projects/dsacademy-python/schools-data/"+data[0]+".xlsx")

### 2)	Напишите программу, которая выведет чёрный список школ по значению колонки qedu_passed_ent (количество набравших проходной балл ЕНТ) – например те школы, в которых qedu_passed_ent меньше 0.5. Программа должна выводить отдельный чёрный список для каждого региона

In [57]:
df_blacklist = df[df['qedu_passed_ent'] < 0.5].reset_index(drop = True)

In [58]:
df_blacklist.shape

(110, 211)

In [59]:
df_blacklist = df_blacklist[['ID','region','school_type','qedu_passed_ent']]

In [60]:
df_blacklist.head(20)

,ID,region,school_type,qedu_passed_ent
0,58,Акмолинская область,"общеобразовательная школа, малокомплектная школа",0.400000
1,136,Акмолинская область,общеобразовательная школа,0.000000
2,146,Акмолинская область,"общеобразовательная школа, малокомплектная школа",0.200000
3,173,Акмолинская область,"общеобразовательная школа, малокомплектная школа",0.333333
4,424,Акмолинская область,"общеобразовательная школа, малокомплектная школа",0.428571
5,81161,Акмолинская область,"общеобразовательная школа, малокомплектная школа",0.000000
6,87080,Акмолинская область,"общеобразовательная школа, малокомплектная школа",0.333333
7,1267,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.250000
8,1270,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.333333
9,1280,Актюбинская область,общеобразовательная школа,0.222222
10,1301,Актюбинская область,общеобразовательная школа,0.333333
11,1323,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.000000
12,1360,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.444444
13,2042,Актюбинская область,общеобразовательная школа,0.333333
14,81217,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.000000
15,81549,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.250000
16,81660,Актюбинская область,"общеобразовательная школа, малокомплектная школа",0.400000
17,936,Алматинская область,общеобразовательная школа,0.375000
18,970,Алматинская область,общеобразовательная школа,0.000000
19,998,Алматинская область,общеобразовательная школа,0.444444

In [61]:
df_blacklist["region"].unique()

array(['Акмолинская область', 'Актюбинская область',
       'Алматинская область', 'Атырауская область',
       'Восточно-Казахстанская область', 'г.Астана', 'Жамбылская область',
       'Западно-Казахстанская область', 'Карагандинская область',
       'Костанайская область', 'Мангистауская область',
       'Павлодарская область', 'Северо-Казахстанская область',
       'Туркестанская область'], dtype=object)

In [62]:
df["region"].unique()

array(['Акмолинская область', 'Актюбинская область',
       'Алматинская область', 'Атырауская область',
       'Восточно-Казахстанская область', 'г.Алматы', 'г.Астана',
       'г.Шымкент', 'Жамбылская область', 'Западно-Казахстанская область',
       'Карагандинская область', 'Костанайская область',
       'Кызылординская область', 'Мангистауская область',
       'Павлодарская область', 'Северо-Казахстанская область',
       'Туркестанская область'], dtype=object)

In [63]:
df_blacklist.set_index(['region', 'ID'], inplace=True)

In [64]:
df_blacklist.head(20)

                                                                school_type  \
region              ID
Акмолинская область 58     общеобразовательная школа, малокомплектная школа
                    136                           общеобразовательная школа
                    146    общеобразовательная школа, малокомплектная школа
                    173    общеобразовательная школа, малокомплектная школа
                    424    общеобразовательная школа, малокомплектная школа
                    81161  общеобразовательная школа, малокомплектная школа
                    87080  общеобразовательная школа, малокомплектная школа
Актюбинская область 1267   общеобразовательная школа, малокомплектная школа
                    1270   общеобразовательная школа, малокомплектная школа
                    1280                          общеобразовательная школа
                    1301                          общеобразовательная школа
                    1323   общеобразовательная школа, малокомплектная школа
                    1360   общеобразовательная школа, малокомплектная школа
                    2042                          общеобразовательная школа
                    81217  общеобразовательная школа, малокомплектная школа
                    81549  общеобразовательная школа, малокомплектная школа
                    81660  общеобразовательная школа, малокомплектная школа
Алматинская область 936                           общеобразовательная школа
                    970                           общеобразовательная школа
                    998                           общеобразовательная школа

                           qedu_passed_ent
region              ID
Акмолинская область 58            0.400000
                    136           0.000000
                    146           0.200000
                    173           0.333333
                    424           0.428571
                    81161         0.000000
                    87080         0.333333
Актюбинская область 1267          0.250000
                    1270          0.333333
                    1280          0.222222
                    1301          0.333333
                    1323          0.000000
                    1360          0.444444
                    2042          0.333333
                    81217         0.000000
                    81549         0.250000
                    81660         0.400000
Алматинская область 936           0.375000
                    970           0.000000
                    998           0.444444

### 2.1) Выведите список школ с проблемами с материальной обеспеченностью (например, те школы, где требуется капитальный ремонт, туалеты на улицах, нет горячего питания) – конкретные условия на ваше усмотрение

In [13]:
df.columns.tolist()

['ID',
 'region',
 'school_type',
 'total_students_2018',
 'total_after_9_2018',
 'total_after_11_2018',
 'diff_teens_2018',
 'deficit_places_2018',
 '3_times_school_2018',
 'barrier_free_2018',
 'stud_have_book_count_2018',
 'ip_higher_4mb_2018',
 'poor_fams_2018',
 'poor_fams_food_2018',
 'dorms_for_villages_2018',
 'total_teachers_2018',
 'teachers_1_category_2018',
 'higher_edu_teachers_2017',
 'master_teachers',
 'out_of_system_teachers_2018',
 'in_emergency_2018',
 'need_repair_2018',
 'school_city_dist',
 'only_out_toilet_2018',
 'school_density_in_10km',
 'school_density_in_3km',
 'school_density_in1.5km',
 'out_in_toilets_2018',
 'total_comp_2018',
 'interactive_boards_2017',
 'cameras__2017',
 'messa_2018',
 'sport_stud',
 'art_stud',
 'appl_art_stud',
 'technical_stud',
 'soc_student',
 'bio_eco_stud',
 'tourist_stud',
 'nat_math_stud',
 'lang_stud',
 'other_stud',
 'add_edu_stud',
 'high_category_teachers_2018',
 'eng_informatics_teachers',
 'eng_phys_teachers',
 'eng_chem_teachers',
 'eng_bio_teachers',
 'location',
 'tip_organizacii_obrazovaniya',
 'open_date',
 'student_delivery',
 'magnet_school',
 'num_libraries',
 'library_area',
 'number_library_reading_rooms',
 'library_reading_room_sitting_places',
 'library_num_of_readers',
 'library_num_of_visits',
 'given_books',
 'library_books_overall',
 'ebooks_count_2017',
 'canteen',
 'canteen_places',
 'buffet',
 'buffet_places',
 'nutrition_in_apapted_premises',
 'computer_availability_2017',
 'computer_overall_2017',
 'computer_w_internet_2017',
 'computers_education',
 'computer_for_teacher_2017',
 'comp_count_need_repair_2017',
 'internet_speed_mbit_2017',
 'interactive_boards_2017.1',
 'gym_2017',
 'gym_equipment_2017',
 'civil_protection_alert_system_2017',
 'panic_button_2017',
 'tourniquet_2017',
 'museum',
 'camp_2017',
 'building_type_typical',
 'heating_type_2017',
 'building_condition_2017',
 'building_type_2017',
 'building_capacity_2017',
 'hot_water_2017',
 'import_water',
 'building_area_2017',
 'building_working_area_2017',
 'building_ownership_2017',
 'landscaping',
 'toilet_2017',
 'classrooms_num',
 'classrooms_area',
 'lingaphone_cab_2017',
 'lingaphone_multimedia_cab_2017',
 'med_cab_2017',
 'edu_lang_2017',
 'future_edu_lang_2017',
 'spec_school_2017',
 'edu_from_class_num_2017',
 'spec_edu_from_class_num_2017',
 'deep_spec_edu_classes_2017',
 'clubs_2017',
 'musical_club',
 'shift_count_2017',
 'special_classes',
 'prolonged_day_groups',
 'combined_class_2017',
 'class_count_2017',
 'class_count_1_shift_2017',
 'class_count_2_shift_2017',
 'class_count_3_shift_2017',
 'class_count_4_shift_2017',
 'total_after_9_2017',
 'college_after_9_2017',
 'applied_10_after_9_2017',
 'total_after_11_2017',
 'total_teachers_2017',
 'academic_degree_teachers_2017',
 'qualified_teachers_2017',
 'eng_lang_teachers_2017',
 'out_of_system_teachers_2017',
 'need_teachers_2017',
 'staff_num',
 'zavuch_num',
 'high_category_teachers_2017',
 'teachers_1_category_2017',
 'teachers_2_category_2017',
 'teachers_no_category_2017',
 'experience_teachers_under_3_years_2017',
 'experience_teachers_between_3_5_years_2017',
 'experience_teachers_between_6_10_years_2017',
 'experience_teachers_between_11_15_years_2017',
 'experience_teachers_between_16_20_years_2017',
 'experience_teachers_20+_years_2017',
 'higher_edu_teachers_2017.1',
 'tech_spec_edu_teachers_2017',
 'middle_edu_teachers_2017',
 'age_teachers_under_25_2017',
 'age_teachers_between_25_29_2017',
 'age_teachers_between_30_34_2017',
 'age_teachers_between_35_39_2017',
 'age_teachers_between_40_44_2017',
 'age_teachers_between_45_49_2017',
 'age_teachers_between_50_54_2017',
 'age_teachers_between_55_59_2017',
 'age_teachers_59+_years_2017',
 'retired_age_man_teachers_2017',
 'retired_age_woman_teachers_2017',
 'total_students_2017',
 'boys_2017',
 'girls_2017',
 'evening_students',
 'using_clubs_students_2017',
 'students_without_parents_2017',
 'disabled_students',
 'students_without_parent_help_2017',
 'student_with_financial_aid',
 'student_books_2017',
 'hot_food_2017',
 'free_hot_food_2017',
 'student_edu_lang_rus_2017',
 'student_edu_lang_kaz_2017',
 'student_edu_lang_uyghur_2017',
 'student_edu_lang_uzbek_2017',
 'student_edu_lang_tadjik_2017',
 'russian_students',
 'kazakh_students',
 'other_nationality_students',
 'classrooms_per_student',
 'classroom_average_area',
 'working_area_ratio',
 'diagnostic_cab',
 'audiologist_cab',
 'psychiatrist_cab',
 'dentist_cab',
 'psychologist_cab',
 'no_special_cabs',
 'medical_physical_cab',
 'neuropatologist_cab',
 'medical_cab',
 'pedagog_psychologist_cab',
 'кабинет психиатра ',
 'police_inspector_cab',
 'speech_terapist_cab',
 'ophtalmologist_cab',
 'average_students_per_class',
 'average_students_per_teacher',
 'average_staff_per_area',
 'sex_diversity_index',
 'total_students_1',
 'total_students_2',
 'total_students_3',
 'total_students_4',
 'total_students_5',
 'total_students_6',
 'total_students_7',
 'total_students_8',
 'total_students_9',
 'total_students_10',
 'total_students_11',
 'nationality_diversity_index',
 'load_ratio',
 'drinking_water_presence',
 'qedu_top_uni',
 'qedu_passed_ent',
 'qedu_continued_education',
 'qedu_elite_achievements']

#### Выборочные колонки, которые показывают мат обеспеченность:


* 'free_hot_food_2017',
* 'building_condition_2017',
* 'need_repair_2018'
* 'hot_water_2017',
* 'toilet_2017'
* 'only_out_toilet_2018'
* 'out_in_toilets_2018',
* 'gym_equipment_2017',
* 'computer_availability_2017',
* 'computer_availability_2017',
* 'computer_overall_2017',
* 'computer_w_internet_2017',
* 'library_books_overall'

In [14]:
df_cond = df[['free_hot_food_2017',
                     'building_condition_2017', 'need_repair_2018',
                     'toilet_2017',
                     'computer_availability_2017',
                     'library_books_overall']]

In [15]:
df_cond

,free_hot_food_2017,building_condition_2017,need_repair_2018,toilet_2017,computer_availability_2017,library_books_overall
0,0.465171,проведён,0,наличие теплых и надворных туалетов,да,58.635183
1,0.424908,требует,0,наличие только теплых туалетов,да,42.785714
2,0.466321,проведён,0,наличие только теплых туалетов,да,54.025907
3,0.000000,требует,0,наличие только теплых туалетов,да,54.221106
4,0.448718,требует,0,наличие теплых и надворных туалетов,да,94.115385
...,...,...,...,...,...,...
6059,0.045455,требует,0,наличие теплых и надворных туалетов,да,10.177273
6060,0.000000,требует,0,наличие теплых и надворных туалетов,нет,8.660377
6061,0.000000,требует,0,наличие только надворных туалетов,да,13.896657
6062,0.000000,требует,0,наличие теплых и надворных туалетов,да,8.426724
6063,0.088384,требует,0,наличие теплых и надворных туалетов,да,21.661616

In [16]:
df_cond["toilet_2017"].unique()

array(['наличие теплых и надворных туалетов',
       'наличие только теплых туалетов',
       'наличие только надворных туалетов', 'нет'], dtype=object)

In [17]:
df_cond["building_condition_2017"].unique()

array(['проведён', 'требует', 'аварийные'], dtype=object)

In [18]:
df_cond["computer_availability_2017"].unique()

array(['да', 'нет'], dtype=object)

In [19]:
replace_build_values = {'проведён' : 1, 'требует' : 0, 'аварийные' : 0 }       
df_cond = df_cond.replace({"building_condition_2017": replace_build_values})      

replace_toilet_values = {'наличие теплых и надворных туалетов' : 1, 'наличие только теплых туалетов' : 1, 'наличие только теплых туалетов' : 1, 'наличие только надворных туалетов' : 0, 'нет' : 0 }      
df_cond = df_cond.replace({"toilet_2017": replace_toilet_values})     

replace_comp_values = {'да' : 1, 'нет' : 0 }       
df_cond = df_cond.replace({"computer_availability_2017": replace_comp_values})     
    

df_cond

,free_hot_food_2017,building_condition_2017,need_repair_2018,toilet_2017,computer_availability_2017,library_books_overall
0,0.465171,1,0,1,1,58.635183
1,0.424908,0,0,1,1,42.785714
2,0.466321,1,0,1,1,54.025907
3,0.000000,0,0,1,1,54.221106
4,0.448718,0,0,1,1,94.115385
...,...,...,...,...,...,...
6059,0.045455,0,0,1,1,10.177273
6060,0.000000,0,0,1,0,8.660377
6061,0.000000,0,0,0,1,13.896657
6062,0.000000,0,0,1,1,8.426724
6063,0.088384,0,0,1,1,21.661616

In [20]:
df['free_hot_food_2017'].describe()

count    6064.000000
mean        0.181992
std         0.219458
min         0.000000
25%         0.028044
50%         0.102679
75%         0.245651
max         1.000000
Name: free_hot_food_2017, dtype: float64

In [21]:
df['library_books_overall'].describe()

count    6064.000000
mean       65.043176
std        83.215198
min         0.000000
25%        28.107077
50%        42.195005
75%        72.374199
max      1756.500000
Name: library_books_overall, dtype: float64

### 3) На основании колонок eng_informatics_teachers, eng_phys_teachers, eng_chem_teachers и eng_bio_teachers составьте два отчёта:

#### 3.1) Топ школ по количеству учителей, владеющих английским языком

In [41]:
df_eng = df[['region', 'ID', 
             'eng_informatics_teachers',
             'eng_phys_teachers',
             'eng_chem_teachers',
             'eng_bio_teachers']]

In [42]:
df_eng

,region,ID,eng_informatics_teachers,eng_phys_teachers,eng_chem_teachers,eng_bio_teachers
0,Акмолинская область,1,0,1,1,1
1,Акмолинская область,2,0,1,0,0
2,Акмолинская область,3,0,0,1,0
3,Акмолинская область,4,0,0,0,1
4,Акмолинская область,5,0,0,0,0
...,...,...,...,...,...,...
6059,Туркестанская область,96713,0,0,0,0
6060,Туркестанская область,97100,0,0,0,0
6061,Туркестанская область,97197,0,0,1,0
6062,Туркестанская область,97231,0,0,0,0
6063,Туркестанская область,97553,0,0,0,0

In [43]:
df_eng["sum_eng_teachers"] = df_eng['eng_informatics_teachers'] + df_eng['eng_phys_teachers'] + df_eng['eng_chem_teachers'] + df_eng['eng_bio_teachers']

In [44]:
df_eng.head()

,region,ID,eng_informatics_teachers,eng_phys_teachers,eng_chem_teachers,eng_bio_teachers,sum_eng_teachers
0,Акмолинская область,1,0,1,1,1,3
1,Акмолинская область,2,0,1,0,0,1
2,Акмолинская область,3,0,0,1,0,1
3,Акмолинская область,4,0,0,0,1,1
4,Акмолинская область,5,0,0,0,0,0

In [45]:
df_eng = df_eng.sort_values(by ='sum_eng_teachers' , ascending=False).reset_index(drop = True)

In [46]:
df_eng.head(30)

,region,ID,eng_informatics_teachers,eng_phys_teachers,eng_chem_teachers,eng_bio_teachers,sum_eng_teachers
0,Жамбылская область,1886,3,3,2,5,13
1,Кызылординская область,6825,4,3,3,3,13
2,Кызылординская область,6868,4,2,2,4,12
3,г.Астана,4672,4,2,2,4,12
4,Жамбылская область,1891,5,4,0,3,12
5,Жамбылская область,1990,4,3,2,3,12
6,Туркестанская область,2794,5,0,3,3,11
7,Жамбылская область,1888,3,3,2,3,11
8,г.Алматы,1573,5,4,0,1,10
9,г.Алматы,1559,5,2,0,3,10
10,Жамбылская область,1885,5,2,2,1,10
11,Кызылординская область,6831,2,2,2,4,10
12,Западно-Казахстанская область,3260,4,1,2,3,10
13,г.Астана,3647,2,2,2,4,10
14,Жамбылская область,1881,3,2,2,3,10
15,Жамбылская область,1887,4,2,1,3,10
16,Мангистауская область,80526,5,0,1,3,9
17,Восточно-Казахстанская область,4623,3,2,1,3,9
18,Западно-Казахстанская область,4239,2,1,4,2,9
19,Западно-Казахстанская область,4237,3,2,2,2,9
20,Западно-Казахстанская область,3808,2,2,1,4,9
21,Туркестанская область,5769,3,2,2,2,9
22,Кызылординская область,6827,4,2,1,2,9
23,Западно-Казахстанская область,4125,4,1,2,2,9
24,Жамбылская область,79909,4,1,2,2,9
25,Жамбылская область,1880,3,3,1,2,9
26,Мангистауская область,80448,3,1,2,3,9
27,Западно-Казахстанская область,3258,2,5,0,2,9
28,Акмолинская область,563,3,1,2,3,9
29,Кызылординская область,6761,3,1,1,3,8

#### 3.2) Отдельные отчёты с топом школ по каждый специальности (informatics, phys, chem, bio)

### 4) Выведите один файл с статистикой по каждому населённому пункту. Необходимо посчитать для каждого населённого пункта: количество школ, процент школ с доступом в интернет, наличие хотя бы одной школы без доступа к питьевой воде (да или нет).

#### 4.1) По своему усмотрению добавьте другие статистики и агрегаты в этот отчёт по населённым пунктам. Попробуйте найти в этом отчёте какие-то инсайты, проведите анализ.